body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #E0E0E0;
    font-style: normal;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#content {
    display: block;
    padding: 1.5rem;
    width: 100vw;
}

#content>h1 {
    font-weight: 900;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 3.2rem;
}

#content>h2 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#icon {
    padding: 1rem;
    width: 32px;
    height: 32px;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

a {
    text-decoration: none;
}